absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
cachetools==5.5.2
catboost==1.2.8
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
einops==0.8.1
fickling==0.1.4
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.7.0
gast==0.6.0
google-auth-oauthlib==1.2.2
google-auth==2.40.3
google-pasta==0.2.0
graphviz==0.21
grpcio==1.73.1
h5py==3.14.0
hf-xet==1.1.5
huggingface-hub==0.33.4
idna==3.10
jax==0.6.2
jaxlib==0.6.2
jinja2==3.1.6
joblib==1.5.1
keras==3.10.0
kiwisolver==1.4.8
libclang==18.1.1
lightgbm==4.6.0
lightning-utilities==0.14.3
llvmlite==0.44.0
markdown-it-py==3.0.0
markdown==3.8.2
markupsafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
ml-dtypes==0.5.1
mlxtend==0.23.4
mpmath==1.3.0
multidict==6.6.3
namex==0.1.0
narwhals==1.47.1
networkx==3.5
numba==0.61.2
numerai-tools==0.4.0
numerapi==2.20.7
numpy==2.1.3
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.3.1
onnx==1.18.0
opt-einsum==3.4.0
optree==0.16.0
packaging==25.0
pandas==2.3.1
patsy==1.0.1
pillow==11.3.0
plotly==6.2.0
polars==1.31.0
propcache==0.3.2
protobuf==5.29.5
pyarrow==21.0.0
pyasn1-modules==0.4.2
pyasn1==0.6.1
pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.2
pytz==2025.2
pyyaml==6.0.2
requests-oauthlib==2.0.0
requests==2.32.4
rich==14.0.0
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
skorch==1.1.0
statsmodels==0.14.5
stdlib-list==0.11.1
sympy==1.14.0
tabpfn==2.1.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard-data-server==0.7.2
tensorboard==2.19.0
tensorflow-decision-forests==1.12.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow==2.19.0
termcolor==3.1.0
tf-keras==2.19.0
threadpoolctl==3.6.0
torch==2.7.1
torchmetrics==1.7.4
tqdm==4.67.1
treelite-runtime==3.9.1
treelite==4.4.1
triton==3.3.1
typing-extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
wurlitzer==3.1.1
xgboost==3.0.2
yarl==1.20.1
ydf==0.13.0
